.contact-form {
    display: flex;
    flex-direction: row;
    margin: 4em 0 0 0;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    height: 95vh;
  }
  
  .contact-form__image {
    width: 50%;
    padding: 0 0 0 4em;
  }

  .contact-img {
    width: 100%;
  }
  
  .contact-form__form {
    display: flex;
    width: 50%;
    height: 80vh;
    margin: 2em 4em 2em 0;
    justify-content: center;
    align-items: center;
    /* border: 1px solid silver; */
    border-radius: 30px;
    box-shadow: 5px 5px 15px silver;
    padding: 0 0 0 4em;
    background-color: white;
  }

  .first-last {
    display: flex;
    justify-content: start;
  }

  .first-n {
    width: 40%;
    margin: 0 2em 0 0;
  }

  .last-n {
    width: 40%;
  }

  .f-n {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .l-n {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .e-n {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .p-n {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .m-n {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 15vh;
  }
  

  .alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    /* border: 1px solid #000; */
    box-shadow: 5px 5px 15px silver;
    border-radius: 30px;
    background-color: #cda89d;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
  
  
