.l-logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e7e7e7;
    padding: 2em 1em;
  }
  
  .l-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .l-img-1 {
    width: 35%;
    height: 6vh;
  }

  .l-img-2 {
    width: 35%;
    height: 6vh;
  }

  .l-img-3 {
    width: 20%;
    height: 6vh;
  }

  .l-img-4 {
    width: 35%;
    height: 6vh;
  }

  .l-title {
    font-weight: bolder;
}

  .l-detailss {
    text-align: center;
    margin: 1em 0 0 0;
  }

  .l-info {
    font-size: small;
  }

  @media only screen and (max-width: 768px) {
    .l-logo-container {
      flex-direction: column;
      padding: 2em 0;
    }
  
    .l-logo {
      margin-bottom: 2em;
    }
  
    .l-img-1, .l-img-2 {
      width: 20%;
      height: auto;
    }
  
    .l-img-3, .l-img-4 {
      width: 15%;
      height: auto;
    }    

    .l-detailss {
        font-size: larger;
    }
  }