/* .welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} */

.home-clg-img {
    margin: 3em 0 0 0;
    width: 100%;
    height: 93vh;
    box-shadow: 15px 15px 45px silver;
} 


/* .image-container {
    position: relative;
  }
  
  .home-clg-img {
    margin: 3em 0 0 0;
    width: 100%;
    height: 93vh;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, transparent, white);
    z-index: 1;
  } */
  

.home-img-heading {
    position: absolute;
    font-size: 4rem;
    width: 40%;
    font-weight: bolder;
    color: white;
    text-shadow: 5px 5px 10px #853939;
    left: 45%;
    top: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img-logo {
    border-radius: 50px;
    width: 60%;
}
  
/* .heading-container {
    flex: 1;
} */

