* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/***************************
****Header
****************************/

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 10%;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

/* Navigation */
.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em 0 0;
  padding: 0;
  list-style: none;
}

.navbar-links li {
  margin-right: 1em;
}

.nav-l {
  text-decoration: none;
  color: blue;
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-l:hover {
  text-decoration: none;
  color: maroon;
  font-weight: 600;
  font-size: larger;
}

/* .navbar-links li:last-child {
  margin-right: 0;
} */

/* Sign-in and Cart */
.signin {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.signin img {
  width: 30px;
  margin-right: 10px;
}

.cart {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.cart-a {
  display: flex;
  justify-content: center;
}

.cart img {
  width: 30px;
  margin-right: 10px;
}

#total-price, #item-count, #subtotal {
  font-weight: bold;
}

.header-cart-img {
  width: 30px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* header {
    height: 60px;
    padding: 0 10px;
  } */
  
  .logo img {
    width: 40px;
  }
  
  .navbar-links {
    display: none;

  }
  
  .signin {
    margin-right: 1em;
  }
  
  .cart {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-links {
    display: flex;
  }
  
  /* .signin {
    display: none;
  } */
}

@media screen and (max-width: 480px) {
  /* .logo img {
    width: 30px;
  } */
  
  .cart img {
    width: 20px;
  }
}


/***************************
****Home
****************************/

/* Mobile Styles */
@media (max-width: 480px) {
  .main-image img {
    width: 80%;
    margin-top: 15%;
  }
  
  .shop-btn {
    margin: 10px 0;
  }

  .shop-now {
    padding: 10px 15px;
  }

  .product-heading h2 {
    padding: 10px 20px;
    margin: 4em 0 0 0;
  }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) {
  .main-image img {
    width: 60%;
  }

  .shop-btn {
    margin: 20px 0;
  }

  .shop-now {
    padding: 15px 25px;
  }

  .product-heading h2 {
    padding: 10px 50px;
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .main-image img {
    width: 40%;
  }

  .shop-btn {
    margin: 30px 0;
  }

  .shop-now {
    padding: 20px 40px;
  }

  .product-heading h2 {
    margin: 2em 0 0 0;
    padding: 20px 100px;
    font-size: xx-large;
    font-weight: 500;
  }
}

/* Common Styles */
.main-image{
  text-align: center;
  margin: 8% 5% 0 5%;
}

.main-image img {
  max-width: 100%;
}

/* .shop-btn {
  margin: 2%;
} */

.shop-now {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.shop-now:hover {
padding: 10px 20px;
background-color: maroon;
color: white;
border: none;
cursor: pointer;
transition: transform 0.5s;
transform: scale(1.2);
}

.heading h2 {
  padding: 10px 50px;
}


/***************************
****Carousel
****************************/


/* Default styles for the form */
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product-details {
  flex: 1;
}

.box {
  margin: 5em;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.box2 {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin-bottom: 20px;
  width: 70%;
}

.dispatch {
  flex: 1;
}

.dis-form {
  /* border: 1px solid #ddd; */
  padding: 10px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.ship-head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ship-submit {
  padding: 10px 20px;
  background-color: maroon;
  color: white;
  border: none;
  cursor: pointer;
}

.td-item {
  width: 75%;
}

.td-quantity {
  width: 45%;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .details {
      flex-direction: column;
  }

  .product-details,
  .dispatch {
      width: 100%;
  }

  .dis-form {
      margin-top: 20px;
  }
}


.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.carousel img.active {
  transform: translateX(0);
}

.carousel img.active ~ img {
  transform: translateX(100%);
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 0;
}



.carousel button.carousel.prev {
  left: 20px;
  z-index: 1;
  color: black;
}

.carousel button.carousel.next {
  right: 20px;
  color: black;
}


@media only screen and (max-width: 768px) {

  .carousel {
    height: 30vh;
  }
  .carousel img {
    width: 100%;
  }
}



/***************************
****Grid Categories ******
****************************/
.categories-whole {
  display: flex;
  justify-content: center;
}

.categories{
  display: flex;
  margin-top: 4%;
}

.one-img{
  height: 70vh;
}

.two {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.cat-2{
  margin-bottom: 5%;
}

.product-list{
  text-align: center;
  margin: 2%;
  text-decoration: none;
  /* border-bottom: thin solid gray; */
}

@media screen and (max-width: 768px) {
  .categories {
    flex-direction: column;
  }

  .one{
      display: flex;
      justify-content: center;
  }

  .one-img {
      height: auto;
      max-width: 70%;

      height: 35vh;
      width: 50%;
  }

  /* .two {
    width: 70%;
  } */

  .cat-2, .cat-3 {
    max-width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {


  .one {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .one-img {

      height: 35vh;
      width: 100%;
  }


  .cat-2, .cat-3 {
    max-width: 50%;
    height: auto;
  }
}

@media screen and (min-width: 1025px) {
  .one {
    width: 33.33%;
  }

  .two {
    width: 66.66%;
  }
}


/***************************
****items ******
****************************/

.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.item {
  max-width: 80%;
  border: 1px solid black;
  padding: 0.5em;
  /* box-shadow: 2px 2px 5px silver; */
}

.item img {
  width: 100%;
}

.new-latest-img {
  display: flex;
  justify-content: space-between;
  margin: 20px 5%;
}

.new-latest-img .c-img {
  width: 50%;
  border: 1px solid rgb(225, 225, 225);
  transition: transform 0.5s;
}

.c-img:hover {
  transform: scale(1.2);
}

.f-img {
  width: 100%;
}

/* .info-img {
  margin-top: 50px;
} */




.item-container {
  margin: 1em 10%;
}

.item-container .item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1em;
}

.item-container .item-grid .item-background {
  background-color: rgba(235, 235, 235, 0.7);
  width: 100%;
  height: 0;
  padding-bottom: 115%;
  position: relative;
}

.item-container .item-grid .item-background .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.item-container .item-grid .item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-title {
  font-size: large;
}

.i-price {
  color: blue;
}

.item-container .item-grid .item-bottom .add-cart {
  background-color: maroon;
  color: #fff;
  padding: 0.5em 2em;
  border: 0;
  cursor: pointer;
}

.add-cart {
  margin-top: 2%;
}

.item-details {
  display: none;
}

.item-container .item-grid .item-bottom .added-cart {
  background-color: maroon;
  color: #fff;
  padding: 0.3em 1.5em;
  /* margin-top: 2em; */
  border: 0;
  cursor: pointer;
}

#minus,
#plus {
  padding: 0 1em;
}

/* .added-cart::after {
  background-color: maroon;
  color: #fff;
  padding: 0.5em 1em;
  margin-top: 2em;
  border: 0;
  cursor: pointer;
} */


@media screen and (max-width: 480px) {
  .item-container {
    margin: 1em 5%;
  }

  .item-container .item-grid {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)) !important;
    /* or grid-template-columns: repeat(auto-fit, minmax(18em, 1fr)); */
  }

  .item-container .item-grid .item-background {
    padding-bottom: 135%;
  }

  .item-container .item-grid .item-background .item-image img {
    width: 100%;
    /* height: auto; */
  }

  .item-container .item-grid .item-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .i-title {
    font-size: medium;
  }

  /* .i-price,
  p,
  button {
    font-size: 0.8em;
    text-align: center;
  } */

  .item-container .item-grid .item-bottom button,
  .item-container .item-grid .item-bottom .added-cart {
    padding: 0.3em 1em;
  }

  /* .item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 20px;
    justify-items: center;
  } */
}


@media screen and (min-width: 480px) and (max-width: 768px) {
  .item-container {
    margin: 1em 10%;
  }

  .item-container .item-grid {
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }

  .item-container .item-grid .item-background {
    padding-bottom: 140%;
  } 

  .i-title {
      font-size: large;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  .item-container {
    margin: 1em 5%;
  }

  .item-container .item-grid {
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  }

  .item-container .item-grid .item-background {
    padding-bottom: 130%;
  }

  .i-price,
  p,
  button {
    font-size: 0.9em;
    text-align: center;
  }
}

.backhome {
  text-align: center;
  margin: 1em 0 0 0;
}

.message {
  text-align: center;
}

.back-btn {
  padding: 0.5em 2em;
  border: none;
  background-color: maroon;
  color: white;
  cursor: pointer;
}





/***************************
****Info ******
****************************/

.info-img {
  display: flex;
  justify-content: center;
}

.foot-img {
  max-width: 100%;
}

.f-img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .info-img {
    flex-direction: column;
    align-items: center;
  }
}


.new-latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.n-l {
  font-size: 2rem;
  text-align: center;
  margin: 3%;
  text-decoration: none;
  border-bottom: thin solid blue;
  font-weight: 500;
}



@media (max-width: 768px) {
  .n-l {
    font-size: 2rem;
  }
}


.cat-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 1em 0 2em 0;
}

.nav-l-2 {
  text-decoration: none;
  color: black;
  /* font-weight: 600; */
  font-size: large;
  /* margin: 1em; */
  padding: 0 1em;
  border-left: 1px solid black;
  transition: all 0.1s ease;
}

.nav-l-2:hover {
  text-decoration: none;
  color: maroon;
  font-weight: 600;
  font-size: larger;
}

.nav-l-2-b {
  text-decoration: none;
  color: black;
  /* font-weight: 600; */
  font-size: large;
  /* margin: 1em; */
  padding: 0 1em;
  border-left: 1px solid black;
  border-right: 1px solid black;
  transition: all 0.1s ease;
}

.nav-l-2-b:hover {
  text-decoration: none;
  color: maroon;
  font-weight: 600;
  font-size: larger;
}

@media (max-width: 480px) {
  .cat-links {
    display: none;
    /* flex-direction: column; */
  }

  
}


.new-latest-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

.c-img {
  max-width: 30%;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .c-img {
    max-width: 100%;
  }

  .new-latest-img {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
}




/******************************
*******Footer
*******************************/
.foot {
display: flex;
justify-content: center;
align-items: center;
background-color: #eaeaea;
padding: 10px 0px;
gap: 30px;
}
.foot button {
  background-color: maroon;
  padding: 10px 20px;
  /* margin-right: 40px; */
  border: 0;
  /* border-radius: 10px; */
  color: #fff;
}

.foot button:hover {
/* padding: 10px 20px; */
background-color: maroon;
color: #fff;
border: none;
cursor: pointer;
transition: transform 0.5s;
transform: scale(1.2);
}

.refresh {
  text-align: center;
  color: #808080;
}
.refresh img {
  width: 10%;
}
.refresh span {
  font-weight: 400;
  color: #000;
}
.copyright {
  border-top: 1px solid #808080;
  text-align: center;
}
.copyright p {
  padding: 10px 0px;
}
/******************************
*******Media screen
*******************************/
@media screen and (max-width: 480px) {
  .refresh p {
      font-size: 10px;
  }
  .refresh img {
      width: 15%;
  }
  /* .foot {
      margin: 0;
      font-size: 10px;
  } */
  /* .foot button {
      margin-right: 10px;
  } */
}
@media screen and (max-width: 500px) {
  /* .foot {
      margin: 30px 50px 30px 40px;
  } */
}
@media screen and (min-width: 501px) and (max-width: 750px) {
  .foot {
      margin: 30px 90px 30px 40px;
  }
}
/******************************
*******Cart
*******************************/

.details {
  margin: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#name, #number, #address, #zip, #house, #city, #State {
  border: 1px solid black;
}

.cart-heading {
  margin: 4em 0 0 2em;
  font-size: x-large;
  font-weight: 700;
}

.cart-item-img-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.c-i-a-s {
  font-size: small;
}

.giftbox {
  width: 100%;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
}

.gift-txt {
  font-size: x-small;
}

.cart-item-info {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.cart-list {
  display: flex;
  justify-content: end;
  width: 80%;
  margin-left: 8em;
  border-bottom: 1px solid black;
}

.c-l-1 {
  list-style: none;
}

.images {
  margin: 0 2em 2em 2em;
}

.images ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 0px;
  border-bottom: 1px solid black;
}

.cart-item-img-name-head {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding: 1em;
  margin: 0 2em;
}

.cart-img-i-n {
  width: 20%;
  display: flex;
  justify-content: center;
}

.cart-i-info {
  display: flex;
  width: 77%;
  margin: 0 2.5em 0 0;
  justify-content: space-around;
}

.circle {
  width: 10%;
}

.circle img {
  height: 80px;
  width: 80px;
}

.empty-cart {
  display: flex;
  justify-content: center;
  height: 35vh;
  align-items: center;
  font-size: x-large;
}

button.number {
  padding: 0.5em 1em;
  background-color: maroon;
  color: white;
  font-weight: 700;
  border: none;
  letter-spacing: 0.5em;
  cursor: pointer;
}

select {
  border-radius: 0;
  padding: 0.3em 1em;
  border: none;
  background-color: maroon;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

option {
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
}

.c-i-a {
  font-size: large;
    font-weight: bold;
}


/******************************
*******Media Screen
*******************************/

@media screen and (max-width: 768px) {
  .cart-list {
    margin-left: 4em;
  }

  .cart-item-img-name-head {
    display: none;
  }

  .cart-item-info {
    display: flex;
    flex-direction: column;
}

  .images {
    margin: 0 1em 1em 1em;
  }

  .circle img {
    height: 60px;
    padding: 15px 5px;
  }

  .cart-heading {
    font-size: large;
  }
  select {
    border-radius: 0;
    padding: 0.3em 1em;
    margin: 0.2em;
    border: none;
    background-color: maroon;
    color: white;
    font-weight: bold;
  }
  
  option {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
  }
}

@media screen and (max-width: 480px) {
  .cart-list {
    margin-left: 2em;
    font-size: small;
  }

  .cart-item-img-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

  .images {
    margin: 0 1em 1em 1em;
  }

  .circle {
    width: 100%;
    text-align: center;
  }

  .circle img {
    height: 60px;
    padding: 15px 35px;
  }

  .cart-heading {
    margin: 5em 0 0 4em;
    font-size: large;
  }

  .ca-li {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 0px;
}
}

/******************************
*******Sign In
*******************************/
.gradient {
  width: 100%;
  height: 1500px;
  background-color: rgba(0, 0, 0, 50%);
  position: absolute;
  top: 0;
}
/* .popup {
  position: fixed;
  top: 10%;
  left: 40%;
  width: 25%;
  background-color: #fff;
} */

.popup {
  position: fixed;
  top: 10%;
  left: 40%;
  width: 25%;
  background-color: #fff;
  overflow-y: scroll;
}

.popup .popup-inner {
  margin: 5px 0px;
}
.popup .popup-inner img {
  position: relative;
  width: 1.5em;
  /* padding: 0px 10px; */
  left: 90%;
}
/* .popup .popup-preview {
  margin: 10px 30px;
} */
.popup .popup-preview .input .heading-sign-in {
  text-align: center;
  margin-bottom: 25px;
  line-height: 40px;
}
.popup .popup-preview .input .input-feilds {
  width: 90%;
  margin: 0 auto;
}
.popup .popup-preview .input .input-feilds input {
  width: 85%;
  padding: 10px 20px;
  /* border-radius: 25px; */
  border: 1px solid #808080;
}
.popup .popup-preview .input .input-feilds button {
  width: 100%;
  width: 100%;
  margin: 2em 0;
  padding: 1em 0;
  border: none;
  background-color: maroon;
  color: #fff;
  cursor: pointer;
}
.popup .popup-preview .input .input-feilds .bottom {
  margin: 30px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.popup .popup-preview .input .input-feilds .sign-up-bottom {
 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.checkbox {
  width: 100%;
  display: flex;
}
.checkbox {
  display: flex;
  justify-content: center;
}
#terms {
  width: 10%;
  margin-top: 11%;
  cursor: pointer;
}
.checkbox label {
  font-size: 11px;
  margin-top: 10%;
}
.bottom a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
.ju-si {

}

@media screen and (max-width: 480px) {
  .gradient {
      height: 1000px;
  }
  .popup .popup-inner {
      top: 5%;
      left: 12vw;
      width: 70%;
      margin: 0px 20px;
  }
  .popup-input {
      padding: 14%;
  }
  .checkbox img {
      top: 31%;
      right: 12%;
  }
  .popup {
      left: 15%;
      width: 75%;
  }
  .popup .popup-preview .input .input-feilds button {
      padding: 1em 0;
  }
  .popup .popup-inner img {
      position: absolute;
      left: 84%;
  }
  .sign-up-bottom{

      font-size: 10px;
  }
  
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .gradient {
      height: 1200px;
  }
  .popup .popup-inner {
      top: 5%;
      left: 12vw;
      width: 70%;
      margin: 0px 40px;
  }
  .popup-input {
      padding: 14%;
  }
  .checkbox img {
      top: 31%;
      right: 12%;
  }
  .popup {
      left: 20%;
      width: 65%;
  }
  .popup .popup-preview .input .input-feilds button {
      padding: 10px 0px;
  }
  .popup .popup-inner img {
      position: absolute;
      left: 84%;
  }
  .sign-up-bottom{

      font-size: 10px;
  }
 
}
@media screen and (min-width:768px) and (max-width: 1200px) {
  .gradient {
      height: 1500px;
  }
  .popup .popup-inner {
      top: 5%;
      left: 12vw;
      width: 70%;
      margin: 0px 40px;
  }
  .popup-input {
      padding: 14%;
  }
  .checkbox img {
      top: 31%;
      right: 12%;
  }
  .popup {
      left: 35%;
      width: 40%;
  }
  .popup .popup-preview .input .input-feilds button {
      padding: 10px 0px;
  }
  .popup .popup-inner img {
      position: absolute;
      left: 84%;
  }
  .sign-up-bottom{

      font-size: 10px;
  }

}